.card {
  position: relative;
  bottom: auto;

  display: flex;
  overflow: hidden;
  flex-direction: column;
  flex-wrap: nowrap;

  border: 1px solid var(--schemes--outline-variant);
  border-radius: var(--spacing--radius--medium);

  background-color: var(--schemes--surface);

  color: hsla(0, 0.00%, 0.00%, 1.00);
}

.card:hover {
  background-image: linear-gradient(to bottom, var(--schemes--layer-state--on-surface-opacity-0-08),var(--schemes--layer-state--on-surface-opacity-0-08));
}

.primary-container {
  background-color: var(--schemes--primary-container);
}

.image-2 {
  width: 100%;
  object-fit: cover;
}

.cardcontent {
  position: relative;

  display: flex;
  padding: var(--spacing--spacing-6);
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1;
  grid-column-gap: var(--spacing--spacing-4);
  grid-row-gap: var(--spacing--spacing-4);
}

.label-small {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.688rem;
  line-height: 1rem;
  letter-spacing: 0.031rem;
}

.label-small.on-primary-container {
  color: var(--schemes--on-primary-container);
}

.on-primary-container {
  color: var(--schemes--on-primary-container);
}

.title-medium {
  margin-top: 0px;
  margin-bottom: 0px;

  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.009rem;
}

.title-medium.on-primary-container {
  color: var(--schemes--on-primary-container);
}

.on-primary {
  color: var(--schemes--on-primary);
}

.title-medium.on-primary.media-card-text {
  position: relative;
}

.footer-title {
  margin-bottom: var(--spacing--spacing-5);
}

.body-small {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.025rem;
}

.body-small.on-primary-container {
  color: var(--schemes--on-primary-container);
}