.footer {
  background-color: var(--schemes--surface);
}

.container {
  display: flex;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
  padding: var(--spacing--spacing-9) var(--spacing--spacing-6);
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: var(--spacing--spacing-7);
  grid-row-gap: var(--spacing--spacing-7);
}

@media screen and (max-width: 991px) {
  .container {
    flex-direction: column;
    flex-wrap: nowrap;
    flex: 1;
  }
}

.container.footer {
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .container.footer {
    justify-content: flex-start;
    align-items: flex-start;
  }
}

@media screen and (max-width: 479px) {
  .container.footer {
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.footer-grid {
  grid-column-gap: 16px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .footer-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 767px) {
  .footer-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 479px) {
  .footer-grid {
    grid-row-gap: 16px;
    grid-template-columns: 1fr;
  }
}

.footer-logo-link-block {
  margin-bottom: var(--spacing--spacing-7);
}

.footer-logo {
  max-width: 80px;
}

.body-small {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.025rem;
}

.body-small.on-primary-container {
  color: var(--schemes--on-primary-container);
}

.on-primary-container {
  color: var(--schemes--on-primary-container);
}

.title-medium {
  margin-top: 0px;
  margin-bottom: 0px;

  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.009rem;
}

.title-medium.on-primary-container {
  color: var(--schemes--on-primary-container);
}

.on-primary {
  color: var(--schemes--on-primary);
}

.title-medium.on-primary.media-card-text {
  position: relative;
}

.footer-title {
  margin-bottom: var(--spacing--spacing-5);
}

.footer-list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .footer-list-item {
    height: var(--spacing--radius--accessibility--touch-size);
  }
}

.social-icon-grid {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: min-content min-content;
  grid-template-rows: auto;
}

.social-icon-link {
  display: flex;
  width: var(--spacing--radius--accessibility--touch-size);
  height: var(--spacing--radius--accessibility--touch-size);
  justify-content: flex-start;
  align-items: center;
}

.social-icon {
  display: flex;
  width: var(--spacing--spacing-6);
  height: var(--spacing--spacing-6);
}

.div-block-6 {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
}

.div-block-7 {
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: stretch;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

#w-node-_5db8fdbf-af94-1dae-3a03-5de3cd85af54-cd85af51 {
}
#w-node-_5db8fdbf-af94-1dae-3a03-5de3cd85af6a-cd85af51 {
}
@media screen and (max-width: 991px) {
  #w-node-_5db8fdbf-af94-1dae-3a03-5de3cd85af54-cd85af51 {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 4;
    grid-column-end: span 4;
  }
}
@media screen and (max-width: 767px) {
  #w-node-_5db8fdbf-af94-1dae-3a03-5de3cd85af54-cd85af51 {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 2;
    grid-column-end: span 2;
  }
}
@media screen and (max-width: 479px) {
  #w-node-_5db8fdbf-af94-1dae-3a03-5de3cd85af54-cd85af51 {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 1;
    grid-column-end: span 1;
  }
}