.preloader {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1000;

  display: none;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;

  background-color: var(--white);
}

@media screen and (max-width: 479px) {
  .preloader {
    z-index: 1000;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
  }
}

.preloader-content-wrap {
  display: flex;
  max-width: 50%;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;

  text-align: center;
}