.profile-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: var(--spacing--spacing-6);
  grid-row-gap: var(--spacing--spacing-6);
}

.profile-image-frame {
  position: relative;
  overflow: hidden;
  width: 50%;
  aspect-ratio: 1/1;
  border-radius: 100%;
}

.profile-image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  width: 100%;
  height: 100%;
}

.profile-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
}

.title-medium {
  margin-top: 0px;
  margin-bottom: 0px;

  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.009rem;
}

.title-medium.on-primary-container {
  color: var(--schemes--on-primary-container);
}

.on-primary-container {
  color: var(--schemes--on-primary-container);
}

.on-primary {
  color: var(--schemes--on-primary);
}

.title-medium.on-primary.media-card-text {
  position: relative;
}

.footer-title {
  margin-bottom: var(--spacing--spacing-5);
}

.body-medium {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.016rem;
}

#w-node-e511ed4d-d1e9-523e-054c-293590be38ae-90be38ad {
}