@media screen and (max-width: 767px) {
  .section {
    padding-top: 10px;
  }
}

@media screen and (max-width: 479px) {
  .section {
    padding: 10px;
  }
}

.section.map {
  height: 60vh;
}

.map {
  height: 100%;
}

.container {
  display: flex;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
  padding: var(--spacing--spacing-9) var(--spacing--spacing-6);
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: var(--spacing--spacing-7);
  grid-row-gap: var(--spacing--spacing-7);
}

@media screen and (max-width: 991px) {
  .container {
    flex-direction: column;
    flex-wrap: nowrap;
    flex: 1;
  }
}

.container.footer {
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .container.footer {
    justify-content: flex-start;
    align-items: flex-start;
  }
}

@media screen and (max-width: 479px) {
  .container.footer {
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.footer {
  background-color: var(--schemes--surface);
}